<%= form_with(model: @image, local: true) do |f| %>
  <div class='container'>
  <%= render 'shared/error_messages', object: f.object %>
    <div class='row'>
      <div class='col-md-10 col-lg-8 mx-auto text-center'>
        <%= image_tag('top.png')%>
        <h3>書き初めが英語で生成されるよ♪</h3>
        <div class='form-group'>
          <%= f.text_field :prompt, class: "form-control" %>
        </div>
        <br>
        <%= f.submit nil, class: "btn btn-primary", value: '書をしたためる' %>
        <br>
      </div>
    </div>
  </div>
<% end %>