<!DOCTYPE html>
<html>
  <head>
    <title>Kakizomaker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://kakizomaker.onrender.com" />
    <meta property="og:title" content="kakizomaker" />
    <meta property="og:description" content="英語で書き初め作成アプリ！抱負や目標をしたためることで、行動を新たに新年のスタートを切ろう！" />
    <meta property="og:image" content="<%= image_url "Twitter-card.png" %>" />
  </head>

  <body class="background-class">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <div class="base-container">
    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
